{% set prefix = prefix|default('general') %}
{% set size = size|default('md') %}

<div id="{{ prefix }}_modal" class="pr-modal {{ prefix }}-modal" aria-hidden="true">
    <div tabindex="-1" data-micromodal-close class="pr-overlay {{ prefix }}-modal-overlay">
        <div role="dialog" aria-modal="true" data-size="{{ size }}" data-type="{{ type }}"
             class="pr-modal-container {{ prefix }}-modal-container pr-modal-{{ view|raw }}"
             aria-labelledby="{{ prefix }}_modal_title">
            <header id="{{ prefix }}_modal_header" class="pr-modal-header {{ prefix }}-modal-header">

                <h2 id="{{ prefix }}_modal_title" class="pr-modal-title {{ prefix }}-modal-title"
                    data-pr-modal-default-content="">{{ title|raw }}</h2>
                <button aria-label="Close modal" class="pr-modal-close {{ prefix }}-modal-close"
                        data-micromodal-close type="button"></button>
            </header>
            <div class="pr-modal-message">
                <div class="pr-modal-message-content"></div>
            </div>
            <div id="{{ prefix }}_modal_content" class="pr-modal-content {{ prefix }}-modal-content">
                {{ content|raw }}
            </div>
            <footer id="{{ prefix }}_modal_footer" class="pr-modal-footer {{ prefix }}-modal-footer"
                    data-pr-modal-default-content="">
                <div class="pr-modal-actions">
                    {% if buttons is defined and buttons is not empty %}
                        {% for button in buttons %}
                            {% if button is array or button is object %}
                                <button {{ button.attrs|parse_attrs|raw }}>{{ button.title|raw }}</button>
                            {% else %}
                                {{ button|raw }}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <button data-micromodal-close aria-label="Close this dialog window"
                                class="close-modal btn btn-secondary">{{ close_title|raw }}</button>
                    {% endif %}
                </div>
            </footer>
            {{ spinner|raw }}
        </div>
    </div>
</div>

