{% extends get_template('../page', _self) %}

{% block content %}

    <form name="orm_edit_form" method="post" id="orm_edit_form" class="orm-form">
        {{ do_action('orm_edit_form_top', object) }}
        <input type="hidden" id="object_id" name="{{ primary_key|esc_attr }}" value="{{ id|esc_attr }}">
        <div class="bg-white mt-3">
            <div class="card-header bg-light">
                {{ actions|raw }}
            </div>
            <div class="card-body">
                {{ fields|raw }}
            </div>
            <div class="card-footer bg-light">
                {{ actions|raw }}
            </div>
        </div>
        {{ do_action('orm_edit_form_bottom', object) }}
    </form>
{% endblock %}
