{% set is_nav = type in ['next', 'prev'] %}
<div class="pr-field-selector-option-wrapper col-12 col-sm-6 col-md-4">
    <div class="pr-field-selector-option {{ type }}{% if is_nav %} navigation{% endif %}"{% if is_nav %} data-target="#level_{{ level|esc_attr }}"{% else %} id="{{ id|esc_attr }}"{% endif %}>
        {% if type is same as('next') %}
            {{ render_icon(nav_icon, {class: 'pr-field-selector-navigation-icon'}, 1) }}
        {% elseif type is same as('option') %}
            <span class="pr-field-selector-option-radio"></span>
        {% endif %}
        {% if icon is not empty %}
            {{ render_icon(icon, {class: 'icon-3x pr-field-selector-image'}, 1) }}
        {% endif %}
        {{ render_if_has_content('strong', {class: 'pr-field-selector-title'}, title) }}
        {{ render_if_has_content('div', {class: 'pr-field-selector-description'}, description) }}
    </div>
</div>

