<fieldset class="screen-options">
    <legend>{{ title|raw }}</legend>
    {% if label is defined
        and label is not empty %}

        <label for="{{ option|esc_attr }}">{{ label|raw }}</label>
        <input type="number" step="1" min="1" max="999" class="screen-per-page" name="wp_screen_options[value]"
               id="{{ option|esc_attr }}" maxlength="3"
               value="{{ per_page|esc_attr }}"/>
    {% endif %}
    <input type="hidden" name="wp_screen_options[option]" value="{{ option|esc_attr }}"/>
</fieldset>

