{% set class_prefix = 'pr-field-media-' %}

<div class="{{ class_prefix|esc_attr }}button-container">
    <button type="button" class="{{ class_prefix|esc_attr }}button">{{ args.button_text|raw }}</button>
    {% block after_button %}{% endblock %}
</div>

<input {{ attributes|parse_attrs|raw }}/>

<div class="{{ class_prefix|esc_attr }}preview">
    <div class="{{ class_prefix|esc_attr }}thumbnail">
        {% if value is not empty %}
            {% if is_image(value) %}
                <img class="pr-field-media-preview-image"
                     src="{{ wp_get_attachment_url(value) }}"
                     alt="{{ render_post_data('title', value) }}">
            {% endif %}
        {% endif %}
    </div>
    <div>
        <div class="{{ class_prefix|esc_attr }}information">
            {{ args.information|raw }}
        </div>
        <div class="{{ class_prefix|esc_attr }}actions">
            {% include get_template('../fields', _self) with {
                fields: buttons
            } %}
        </div>
    </div>
</div>

