{% if sections is not empty %}
    <div class="{{ class_prefix|esc_attr }}sections">
        {% for id, section in sections %}
            <div class="{{ class_prefix|esc_attr }}section{% if section|call('getArg', 'full') %} is-full{% endif %}"
                 id="{{ class_prefix|esc_attr }}section-{{ id }}">
                {{ section|call('render')|raw }}
            </div>
        {% endfor %}
    </div>
{% endif %}

