{% set class_prefix = 'pr-panel-' %}
<div class="{{ class_prefix|esc_attr }}wrap wrap">
    <h1 class="screen-reader-text">{{ title|raw }}</h1>
    <div class="{{ class_prefix|esc_attr }}body">
        <header class="{{ class_prefix|esc_attr }}header">
            <div class="{{ class_prefix|esc_attr }}header-logo">
                <span class="{{ class_prefix|esc_attr }}logo d-block d-lg-none"></span>
                <div class="pr-title-level-2 d-none d-lg-block">{{ title|raw }}</div>
            </div>
            <nav class="{{ class_prefix|esc_attr }}header-nav">
                {% for id, segment in segments %}
                    <a href="#{{ class_prefix|esc_attr }}segment-{{ id }}"
                       class="{{ class_prefix|esc_attr }}nav-item pr-tab-link{% if loop.first %} is-active{% endif %}"
                       id="{{ class_prefix|esc_attr }}nav-item-{{ id|esc_attr }}">
                        <div class="{{ class_prefix|esc_attr }}nav-item-title pr-title-level-2 d-none d-lg-block">{{ segment|call('getTitle')|raw }}</div>
                        {{ render_if_has_content('div', {class: class_prefix ~ 'nav-item-description d-none d-lg-block'}, segment|call('getDescription')) }}
                        {{ render_icon(segment|call('getIcon')) }}
                    </a>
                {% endfor %}
            </nav>
        </header>
        <section class="{{ class_prefix|esc_attr }}content">
            <form enctype="multipart/form-data" method="POST">
                {% for id, segment in segments %}
                    <div class="{{ class_prefix|esc_attr }}segment pr-tab-content{% if loop.first %} is-active{% endif %}"
                         id="{{ class_prefix|esc_attr }}segment-{{ id }}">
                        {{ segment|call('render')|raw }}
                    </div>
                {% endfor %}
                {% if buttons is not empty %}
                    <div class="{{ class_prefix|esc_attr }}actions">
                        {% include get_template('../fields', _self) with {
                            fields: buttons
                        } %}
                    </div>
                {% endif %}
                {% include get_template('../fields', _self) %}
            </form>
        </section>
        {% if sidebar is not empty %}
            {{ sidebar|call('render')|raw }}
        {% endif %}
    </div>
</div>

