<p class="search-box">
    <label class="screen-reader-text" for="{{ input|esc_attr }}">{{ text|raw }}:</label>
    <input type="search" id="{{ input|esc_attr }}" name="s" value="{{ query|esc_attr }}"/>
    {{ submit|raw }}
</p>

