{% extends get_template('./common', _self) %}

{% block before_field %}
    {{ parent() }}
    {% if description is defined and description is not empty %}
        <div class="pr-field-description">{{ description|raw }}</div>
    {% endif %}
{% endblock %}

{% block field_body %}
    <textarea {{ attributes|parse_attrs|raw }}>{{ value|raw }}</textarea>
{% endblock %}

{% block after_field %}
    {{ placeholders|raw }}
{% endblock %}

