{% set class_prefix = 'pr-modal-' %}

<div class="{{ class_prefix }}wrapper" id="modal_{{ self|call('getKey')|esc_attr }}">
    <div class="{{ class_prefix }}container">
        <div class="{{ class_prefix }}frame">
            <header class="{{ class_prefix }}header">
                {{ render_icon(close_icon, {class: 'icon-primary pr-modal-close pr-modal-close-button'}, 1) }}
                <strong class="{{ class_prefix }}title">{{ title|raw }}</strong>
            </header>
            <div class="{{ class_prefix }}content">
                {% include get_template('../segments', _self) with {
                    segments: segments,
                    vertical: 1,
                } %}
            </div>
            <footer class="{{ class_prefix }}footer">
                {% include get_template('../../fields', _self) with {
                    fields: buttons
                } %}
            </footer>
            {{ render_backend_spinner() }}
        </div>
    </div>
    <div class="{{ class_prefix }}backdrop {{ class_prefix }}close"></div>
</div>
