{% set class_prefix = 'pr-multistep-' %}

<div class="{{ class_prefix }}wrap wrap">
    <h1 class="{{ class_prefix }}title pr-title-level-1">{{ title|raw }}</h1>
    <br>
    <div class="{{ class_prefix }}body">
        <nav class="{{ class_prefix }}nav" data-total-steps="{{ steps|length }}">
            {% for step in steps %}
                {% set id = step|call('getId') %}
                <div class="{{ class_prefix }}step" id="step_nav_{{ id }}" data-step="{{ step|call('getNumber')|raw }}"
                     data-state="{% if loop.first %}current{% else %}pending{% endif %}"
                     data-target="#step_content_{{ id }}">
                    <div class="{{ class_prefix }}step-wrapper">
                        {{ render_icon(step|call('getIcon'), {class: 'icon-lg ' ~ class_prefix ~ 'step-icon'}) }}
                        <strong class="{{ class_prefix }}step-label">{{ step|call('getLabel')|raw }}</strong>
                        <span class="{{ class_prefix }}step-number">{{ step|call('getNumber')|number|raw }}</span>
                        {{ render_icon(done_icon, {class: 'icon-md ' ~ class_prefix ~ 'step-done-icon'})|raw }}
                    </div>
                </div>
            {% endfor %}
        </nav>
        <div class="{{ class_prefix }}contents">
            {% for step in steps %}
                {% set id = step|call('getId') %}
                <section class="{{ class_prefix }}step-content" id="step_content_{{ id|raw }}"
                         data-state="{% if loop.first %}current{% else %}pending{% endif %}"
                         aria-labelledby="step_nav_{{ id }}">
                    <div class="{{ class_prefix }}step-wrapper">
                        {{ step|call('render', 0, {parameters: self|call('getStepParameters', step)})|raw }}
                        <div class="{{ class_prefix }}step-actions">
                            {% if loop.first %}

                                {{ self|call('getButton', 'next', step)|call('render')|raw }}
                            {% else %}

                                {{ self|call('getButton', 'prev', step)|call('render')|raw }}
                                {% if loop.last %}

                                    {{ self|call('getButton', 'submit', step)|call('render')|raw }}
                                {% else %}

                                    {{ self|call('getButton', 'next', step)|call('render')|raw }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
</div>

