{% set class_prefix = 'pr-panel-' %}

{% if has_wrap is not defined %}
    {% set has_wrap = 1 %}
{% endif %}

{% set server_side = server_side == 1 %}

{% if has_wrap %}
<div class="{{ class_prefix }}wrap wrap">
    {% endif %}
    {% if title is not empty %}
        <h1 class="{{ class_prefix }}title pr-title-level-1">{{ title|raw }}</h1>
        <br>
    {% endif %}
    <div class="{{ class_prefix }}body {{ class_prefix }}">
        {% if buttons is not empty %}
        <form enctype="multipart/form-data"
              method="POST" id="{{ id }}_form">
        {% endif %}
            {% embed get_template('../segments', _self) with {
                segments: segments
            } %}
                {% block after_content %}
                    {% if buttons is not empty %}
                        <div class="pr-panel-actions">
                            {% include get_template('../../fields', _self) with {
                                fields: buttons
                            } %}
                        </div>
                    {% endif %}
                {% endblock %}
            {% endembed %}
            {% include get_template('../../fields', _self) with {
                fields: fields
            } %}
        {% if buttons is not empty %}
        </form>
        {% endif %}

        {% if sidebar is not empty %}
            {{ sidebar|call('render')|raw }}
        {% endif %}
    </div>
    {% if has_wrap %}
</div>
{% endif %}
