{% set class_prefix = 'pr-panel-' %}

{% if has_wrap is not defined %}
    {% set has_wrap = 1 %}
{% endif %}

{% set server_side = server_side == 1 %}

{% if has_wrap %}
<div class="{{ class_prefix }}wrap wrap">
{% endif %}
    {% if title is not empty %}
        <h1 class="{{ class_prefix }}title pr-title-level-1">{{ title|raw }}</h1>
        <br>
    {% endif %}
    <div class="{{ class_prefix }}body {{ class_prefix }}{% if vertical == 1 %}vertical{% else %}horizontal{% endif %}">
        <header class="{{ class_prefix }}header">
            <nav class="{{ class_prefix }}header-nav">
                {% for segment_id, segment in segments %}

                    {% set is_segment_active = ((not server_side or current_segment is empty) and loop.first)
                        or (server_side and segment_id is same as(current_segment)) %}

                    <a href="{% if not server_side %}#{{ class_prefix }}segment-{{ segment_id }}{% else %}{{ segment|call('getLink', id) }}{% endif %}"
                       class="{{ class_prefix }}nav-item{% if not server_side %} pr-tab-link{% endif %}{% if is_segment_active %} is-active{% endif %}"
                       id="{{ class_prefix }}nav-item-{{ segment_id }}">
                        {{ render_icon(segment|call('getIcon'), {}, 1) }}
                        <div class="{{ class_prefix }}nav-item-summary">
                            <div class="{{ class_prefix }}nav-item-title">{{ segment|call('getTitle')|raw }}</div>
                            {{ render_if_has_content('div', {class: class_prefix ~ 'nav-item-description'}, segment|call('getDescription')) }}
                        </div>
                    </a>
                {% endfor %}
            </nav>
        </header>
        <section class="{{ class_prefix }}content">
            {% if buttons is not empty %}
            <form enctype="multipart/form-data"
                  method="POST" id="{{ id }}_form">
                {% endif %}


                {% for segment_id, segment in segments %}

                    {% set is_segment_active = ((not server_side or current_segment is empty) and loop.first)
                        or (server_side and segment_id is same as(current_segment)) %}

                    {% if not server_side or current_segment is same as(segment_id) %}
                        <div class="{{ class_prefix }}segment pr-tab-content{% if is_segment_active %} is-active{% endif %}{% if segment|call('getArg', 'full') %} is-full{% endif %} {{ segment|call('getArg', 'container_class') }}"
                             id="{{ class_prefix }}segment-{{ segment_id }}">
                            {{ segment|call('render')|raw }}
                        </div>
                        {% if server_side %}
                            {% break %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if buttons is not empty %}
                    <div class="{{ class_prefix }}actions">
                        {% include get_template('../../fields', _self) with {
                            fields: buttons
                        } %}
                    </div>
                {% endif %}
                {% include get_template('../../fields', _self) %}
                {% if buttons is not empty %}
            </form>
            {% endif %}
        </section>
        {% if sidebar is not empty %}
            {{ sidebar|call('render')|raw }}
        {% endif %}
    </div>
{% if has_wrap %}
</div>
{% endif %}
