{% set class_prefix = 'pr-section-' %}

{% if fields is not empty or tabs is not empty or alerts is not empty%}

    {% if title is not empty %}
        <div class="{{ class_prefix|esc_attr }}header d-flex justify-content-between">
            <div class="d-flex">
                {{ render_icon(icon, {class: 'icon-sm my-auto mr-2'}, 1) }}
                <h3 class="pr-title-level-2">{{ title|raw }}</h3>
            </div>
            {{ args.helper|raw }}
        </div>
    {% endif %}

    <div class="{{ class_prefix|esc_attr }}content">

        {% if description is not empty %}
            <div class="{{ class_prefix|esc_attr }}description">{{ description|raw }}</div>
        {% endif %}

        {% include get_template('../alert', _self) %}

        {% if fields is not empty %}
            <fieldset class="{{ class_prefix|esc_attr }}fieldset pr-fieldset">
                {% include get_template('../../fields', _self) %}
            </fieldset>
        {% endif %}

        {% include get_template('../tabs', _self) with {
            id: id,
            class_prefix: class_prefix
        } %}
    </div>
{% endif %}
