{% set class_prefix = 'pr-segment-' %}
<div class="{{ class_prefix|esc_attr }}header">
    {{ render_icon(icon, {class: 'icon-xl mr-4 centered-svg'}, 1) }}
    <div>
        <h2 class="pr-title-level-1">{{ title|raw }}</h2>
        <div class="{{ class_prefix|esc_attr }}description">{{ description|raw }}</div>
    </div>
</div>
{% include get_template('../alert', _self) %}
<div class="{{ class_prefix|esc_attr }}content-wrapper">
    <div class="{{ class_prefix|esc_attr }}content">
        {% if tabs is not empty %}
            {% include get_template('../tabs', _self) with {
                id: id,
                tabs: tabs,
                class_prefix: class_prefix
            } %}
        {% endif %}
        {% if sections is not empty %}
            {% include get_template('../sections', _self) with {
                sections: sections,
                class_prefix: class_prefix
            } %}
        {% endif %}
        {% include get_template('../../fields', _self) %}
        {% if content is not empty %}
            {{ self|call('renderContent') }}
        {% endif %}
    </div>
    {% if sidebar is not empty %}
        {{ sidebar|call('render')|raw }}
    {% endif %}
</div>
{% if buttons is not empty %}
    <div class="{{ class_prefix|esc_attr }}actions">
        {% include get_template('../../fields', _self) with {
            fields: buttons
        } %}
    </div>
{% endif %}

